body
{
  color: rgb(255, 255, 255);
  background: #8f00bb;
}
span
{
  font-size: 30px;
}
#camera , #indentify_img
{
  border: 2px dashed rgb(99, 248, 99);
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(17, 0, 255);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
button {
  color: rgb(73, 20, 109);
  background-color: rgb(255, 0, 0);
}